<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %} 
        {% for fm in form %}
            {{fm.label_tag}}  {{fm}}  {{fm.errors|striptags}} <br><br>

        {% endfor%}

        <input type="submit" value="sigup">

    </form><br><br>

    <a href="/login"><input type="submit" value="login"></a>

    {% if massages %}
        {% for massage in massages %}
            <small {% if massages.tags %} class="{{massage.tags}}" {%  endif %} >{{massage}}</small>
        {% endfor %}
    {% endif %}


    
</body>
</html>